// Сбрасываем стили
@import "block/reset"
/* Подключаем шрифты */
@import "block/fonts"


@import "block/slick"
@import "block/vars"
@import "block/btn"


/* Основные стили */
*
	font-size: $fz
	font-family: $fontMain
	background-color: #fff
	line-height: 1.2
	color: #2E4150

body
	padding-top: 100px
	position: relative

/* Ниже подключаем отдельные файлы CSS по блокам и по подключаемым библиотекам */
@import "block/header"
@import "block/main-banner"

@import "block/footer"

// Адаптив
@import "block/media"
