@font-face
	font-family: 'OpenSans' 
	src: url(../font/OpenSans-Bold.woff) format('woff')
	src: local('OpenSans-Bold'), url(../font/OpenSans-Bold.woff2) format('woff2'), url(../font/OpenSans-Bold.eot) format('embedded-opentype'), url(../font/OpenSans-Bold.ttf) format('truetype')
	font-weight: 700
@font-face
	font-family: 'LibreFranklin' 
	src: url(../font/LibreFranklin-Regular.woff2) format('woff2')
	src: local('LibreFranklin-Regular'), url(../font/LibreFranklin-Regular.woff) format('woff'), url(../font/LibreFranklin-Regular.eot) format('embedded-opentype'), url(../font/LibreFranklin-Regular.ttf) format('truetype')
	font-weight: 400
@font-face
	font-family: 'Rubik' 
	src: url(../font/Rubik-Regular.woff2) format('woff2')
	src: local('Rubik-Regular'), url(../font/Rubik-Regular.woff) format('woff'), url(../font/Rubik-Regular.eot) format('embedded-opentype'), url(../font/Rubik-Regular.ttf) format('truetype')
	font-weight: 400
