// Резиновая верстка
$index: calc(1vw + 1vh)
// Шрифты
$fz: 24px
$fontMain: AlegreyaAvensa, serif
$fontMenu: AlegreyaSCAvensa, serif
$fontTitle: CormorantAvensa, serif
$fontButton: DMSansAvensa, sans-serif
// Цвета
$bgWhite: #fff
$bgBlue: #E7F5F8
$bgGrey: #F2F5F7
$secondary: #40DBF8
$primary: #0097aa
$bgGradient: linear-gradient(180deg, #FFF5EB 0%, #FFFFFF 47.47%)
$bg: #FFF5EB

// Другое
$transition: .5s cubic-bezier(.05, .5, 0, 1)