/* Стили подвала сайта */
footer
	background-color: $bgGrey
.footer-container
	background-color: $bgGrey
	max-width: 1192px
	margin: 0 auto
	padding-top: 3rem
	padding-bottom: 2.1rem
	padding-left: 1rem
	padding-right: 1rem
	display: flex
	justify-content: space-between
	align-items: center
	a.footer-logo
		background-color: $bgGrey
		picture
			background-color: $bgGrey
			img
				background-color: $bgGrey
	.footer__menu
		color: #2e4150
		background-color: $bgGrey
		.menu__list
			background-color: $bgGrey
			.menu__list-item
				background-color: $bgGrey
				a
					background-color: $bgGrey


.footer__socwrap
	background-color: $bgGrey
	.header__tel
		background-color: $bgGrey
	.footer__soc
		background-color: $bgGrey
		margin-bottom: 12px
		.header__soc-item
			background-color: $bgGrey
			display: flex
			justify-content: center
			align-items: center
			.header__soc-link 
				background-color: $bgGrey
				display: flex
				justify-content: center
				align-items: center
				picture 
					background-color: $bgGrey
					display: flex
					justify-content: center
					align-items: center
					img
						background-color: $bgGrey

.footer__copyright
	display: flex
	justify-content: center
	background-color: inherit
	padding-bottom: 3rem
	.copyright
		background-color: inherit
		padding-right: .5rem
		padding-left: .5rem
		border-right: 1px solid #2e4150
	a
		background-color: inherit
		padding-right: .5rem
		padding-left: .5rem
		border-right: 1px solid #2e4150
		&:last-child
			border-right: none
			