<div class="banner-container">
	<div class="banner" style="background-image: url(img/banner_4.jpg);">
		<div class="banner__content">
			<h2 class="banner__title banner__title_3">Приобретите оборудование - мы предоставим программное обеспечение и поддержку для успешного запуска вашей прачечной.</h2>
			<!-- <p class="banner__text">Мы официальные партнеры производителя бренда Simpleclean</p> -->
			<div class="banner__btn">
				<a href="contacts.html" class="btn-primary">Связаться с нами</a>
				<!-- <button class="btn-white">О нас</button> -->
			</div>
		</div>
	</div>
</div>