<section class="benefits">
  <div class="container">
    <div class="benefits-wrap">
      <div class="benefits__left">
        <div class="benefits__left-item">
          <div class="benefits__item-figure">10</div>
          <div class="benefits__item-title">Наших прачечных</div>
          <div class="benefits__item-descr">
            У нас есть сеть своих прачечных, поэтому мы знакомы со всеми
            тонкостями бизнеса
          </div>
        </div>
        <div class="benefits__left-item">
          <div class="benefits__item-figure">5 лет</div>
          <div class="benefits__item-title">Гарантии</div>
          <div class="benefits__item-descr">
            После покупки всегда на связи и предоставляем техническое
            обслуживание
          </div>
        </div>
        <div class="benefits__left-item">
          <div class="benefits__item-figure">200+</div>
          <div class="benefits__item-title">Прачечных</div>
          <div class="benefits__item-descr">
            Мы обеспечиваем оборудованием:частные, университетские и а отелях
          </div>
        </div>
        <div class="benefits__left-item">
          <div class="benefits__item-figure">У нас</div>
          <div class="benefits__item-title">Собственное ПО</div>
          <div class="benefits__item-descr">
            Поможем с обучением персонала и подключением
          </div>
        </div>
      </div>
      <div class="benefits__right">
        <p class="benefits__right-text">
          У нас огромный опыт в работе с прачечеными и оборудованием для них, вы
          можете ознакомиться с каждым нашим достижением.
        </p>
      </div>
    </div>
  </div>
</section>
