<footer>
	<div class="footer-container">
		<a href="#" class="logo footer-logo">
      <img src="img/logo-footer.png" alt="Логотип ПРЕКОМ" />
    </a>
    <nav class="footer__menu">
      <ul class="menu__list">
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Продукция</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">О нас</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Контакты</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Сотрудничество</a>
        </li>
      </ul>
    </nav>
		<div class="footer__socwrap">
			<ul class="header__soc footer__soc">
				<li class="header__soc-item">
					<a href="#" class="header__soc-link">
						<img src="img/whatsapp.png" alt="ПРЕКОМ. Группа Whatsapp">
					</a>
				</li>
				<li class="header__soc-item">
					<a href="#" class="header__soc-link">
						<img src="img/telegram.png" alt="ПРЕКОМ. Группа в Телеграм">
					</a>
				</li>
				<li class="header__soc-item">
					<a href="#" class="header__soc-link">
						<img src="img/vk.png" alt="ПРЕКОМ. Группа в ВК">
					</a>
				</li>
			</ul>
			<a class="header__tel" href="tel:+79995559999">+7 (999) 555-99-99</a>
		</div>
	</div>
	<div class="footer__copyright">
		<div class="copyright">© 2024 Преком</div>
		<a href="#">Пользовательское соглашение</a>
		<a href="#">Политика конфиденциальности</a>
	</div>
</footer>
