<div class="banner-container">
	<div class="banner-slider">
		
			<div class="banner" style="background-image: url(img/banner_1.png);">
				<div class="banner__content">
					<h2 class="banner__title banner__title_1">Оборудование для прачечных</h2>
					<p class="banner__text">Мы официальные партнеры производителя бренда Simpleclean</p>
					<div class="banner__btn">
						<a href="equipment.html" class="btn-primary">Продукция</a>
						<a href="about.html" class="btn-white">О нас</a>
					</div>
				</div>
			</div>

			<div class="banner" style="background-image: url(img/banner_2.jpg);">
				<div class="banner__content">
					<h2 class="banner__title banner__title_2">Мы развиваем свою сеть прачечных под брендом «Хлопок»</h2>
					<p class="banner__text">Более детально узнать о наших прачечных можно на сайте hlopok-laundry.ru</p>
					<div class="banner__btn">
						<a href="about.html" class="btn-white">О нас</a>
					</div>
				</div>
			</div>

			<div class="banner" style="background-image: url(img/banner_3.jpg);">
				<div class="banner__content">
					<h2 class="banner__title banner__title_3 ">Вы можете приобрести франшизу для открытия своей прачечной по принципу «Всё включено»</h2>
					<div class="banner__btn">
						<a href="partnership.html" class="btn-primary">Сотрудничество</a>
						<a href="about.html" class="btn-white">О нас</a>
					</div>
				</div>
			</div>
		
	</div>
</div>