<div class="banner-container">
	<div class="banner" style="background-image: url(img/banner_5.png);">
		<div class="banner__content">
			<h2 class="banner__title banner__title_2 banner__title-partner">Инновационные технологии для вашей прачечной</h2>
			<p class="banner__text banner__text-partner">Обеспечьте свою прачечную передовым оборудованием от нашей компании. Мы предлагаем широкий ассортимент профессиональных машин с разной загрузкой, гарантируя эффективность и долговечность ваших операций.</p>
			<div class="banner__btn">
				<a href="contacts.html" class="btn-primary">Связаться с нами</a>
				<!-- <button class="btn-white">О нас</button> -->
			</div>
		</div>
	</div>
</div>