<section class="partnership">
	<div class="container">
		<h2 class="partnership-title">
			Направления возможного сотрудничества
		</h2>
		<div class="partnership-wrap">
			<div class="partnership__item">
				<div class="partnership__item-direct">
					<div class="partnership__direct-img">
						<img src="img/car.png" alt="Продажа оборудования SimpleClean UnionSpeed">
					</div>
					<h3 class="partnership__direct-name">
						Поставка профессионального оборудования 
					</h3>
				</div>
				<div class="partnership__item-desc">
					<p class="partnership__item-desc-p">
						Мы являемся официальными партнерами производителя бренда Simpleclean и занимаемся поставками профессионального оборудования 
						для прачечных самообслуживания.
					</p>
					<p class="partnership__item-desc-p">
						Большая часть оборудования находится на складах в г. Санкт-Петербурге.
					</p>
				</div>
			</div>
			<div class="partnership__item">
				<div class="partnership__item-direct">
					<div class="partnership__direct-img">
						<img src="img/star.png" alt="Продажа оборудования SimpleClean UnionSpeed">
					</div>
					<h3 class="partnership__direct-name">
						Развитие собственной сети прачечных
					</h3>
				</div>
				<div class="partnership__item-desc">
					<p class="partnership__item-desc-p">
						Мы развиваем свою сеть прачечных под брендом «Хлопок». 
						Более детально узнать о наших прачечных можно на сайте <a href="https://hlopok-laundry.ru">hlopok-laundry.ru</a>.
					</p>
					<p class="partnership__item-desc-p">
						Готовы предложить франшизу для открытия своей прачечной по принципу «всё включено», 
						а также - отдельные услуги, необходимые именно Вашему бизнесу - Вы сами выбираете, что из предложения по франшизе Вам нужно. 
					</p>
					<p class="partnership__item-desc-p">
						Поможем не только открыть Вашу прачечную,
						но и взять на себя операционное управление так, что Вам не придётся вообще тратить свое время.
					</p>
				</div>
			</div>
			<div class="partnership__item">
				<div class="partnership__item-direct">
					<div class="partnership__direct-img">
						<img src="img/pc.png" alt="Разработка ПО для прачечных самообслуживания">
					</div>
					<h3 class="partnership__direct-name">
						Разработка программного обеспечения 
					</h3>
				</div>
				<div class="partnership__item-desc">
					<p class="partnership__item-desc-p">
						Мы разрабатываем ПО и софт для управления оборудованием с любыми контроллерами:
						<ul id="partnership__item-desc-list" class="partnership__item-desc-list">
							<li>Комплектуем терминалы с предустановленным софтом и оборудованием для работы ПО: тачскрины, неттопы, платежные терминалы. 
							</li>
							<li>Передаем готовый терминал с уже преднастроенными интеграциями с банковским эквайрингом, онлайн-кассами, ОФД.
							</li>
							<li>
								Обеспечиваем доступ на наш сервер с Вашим личным кабинетом, где Вам будет доступен функционал по удалённому управлению прачечной, а также вся статистика по работе Вашей прачечной.
							</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>