<section class="popular-goods">
	<div class="container">
		<h2 class="popular-goods__title">Наши популярные модели</h2>
		<p class="popular-goods__desc">
			Поднимите ваш бизнес на новый уровень с нашей линейкой промышленных
			стиральных машин, созданных для достижения оптимальных результатов при
			каждой загрузке.
		</p>
		<div class="popular-goods__wrap">
			<div class="popular-goods__item">
				<a href="!#" class="popular-goods__content">
					<div class="img-wrap">
						<img src="img/SWS2.png" alt="SimpleClean. Стирально-отжимная машина">
					</div>
					<div class="popular-goods__item-right">
						<h3 class="popular-goods__item-title">
							12KG Hard Mount Fast Spin Washer
						</h3>
						<p class="popular-goods__item-factory">
							SimpleClean
						</p>
						<p class="popular-goods__item-linkmore">
							Подробнее
						</p>
					</div>
				</a>
			</div>
			<div class="popular-goods__item">
				<a href="!#" class="popular-goods__content">
					<div class="img-wrap">
						<img src="img/SWS2.png" alt="SimpleClean. Стирально-отжимная машина">
					</div>
					<div class="popular-goods__item-right">
						<h3 class="popular-goods__item-title">
							12KG Hard Mount Fast Spin Washer
						</h3>
						<p class="popular-goods__item-factory">
							SimpleClean
						</p>
						<p class="popular-goods__item-linkmore">
							Подробнее
						</p>
					</div>
				</a>
			</div>
			<div class="popular-goods__item">
				<a href="!#" class="popular-goods__content">
					<div class="img-wrap">
						<img src="img/SWS2.png" alt="SimpleClean. Стирально-отжимная машина">
					</div>
					<div class="popular-goods__item-right">
						<h3 class="popular-goods__item-title">
							12KG Hard Mount Fast Spin Washer
						</h3>
						<p class="popular-goods__item-factory">
							SimpleClean
						</p>
						<p class="popular-goods__item-linkmore">
							Подробнее
						</p>
					</div>
				</a>
			</div>
			<div class="popular-goods__item">
				<a href="!#" class="popular-goods__content">
					<div class="img-wrap">
						<img src="img/SWS2.png" alt="SimpleClean. Стирально-отжимная машина">
					</div>
					<div class="popular-goods__item-right">
						<h3 class="popular-goods__item-title">
							12KG Hard Mount Fast Spin Washer
						</h3>
						<p class="popular-goods__item-factory">
							SimpleClean
						</p>
						<p class="popular-goods__item-linkmore">
							Подробнее
						</p>
					</div>
				</a>
			</div>
			<div class="popular-goods__item">
				<a href="!#" class="popular-goods__content">
					<div class="img-wrap">
						<img src="img/SWS2.png" alt="SimpleClean. Стирально-отжимная машина">
					</div>
					<div class="popular-goods__item-right">
						<h3 class="popular-goods__item-title">
							12KG Hard Mount Fast Spin Washer
						</h3>
						<p class="popular-goods__item-factory">
							SimpleClean
						</p>
						<p class="popular-goods__item-linkmore">
							Подробнее
						</p>
					</div>
				</a>
			</div>
			<div class="popular-goods__item">
				<a href="!#" class="popular-goods__content">
					<div class="img-wrap">
						<img src="img/SWS2.png" alt="SimpleClean. Стирально-отжимная машина">
					</div>
					<div class="popular-goods__item-right">
						<h3 class="popular-goods__item-title">
							12KG Hard Mount Fast Spin Washer
						</h3>
						<p class="popular-goods__item-factory">
							SimpleClean
						</p>
						<p class="popular-goods__item-linkmore">
							Подробнее
						</p>
					</div>
				</a>
			</div>
		</div>
	
	</div>
	
</section>
