<div class="container">
  <h2 class="popular-goods__title">Наши популярные модели</h2>
  <p class="popular-goods__desc">
    Поднимите ваш бизнес на новый уровень с нашей линейкой промышленных
    стиральных машин, созданных для достижения оптимальных результатов при
    каждой загрузке.
  </p>
  <div class="popular-goods__wrap">
    <div class="popular-goods__item">
      <div class="popular-goods__content">
				<div class="img-wrap">
					<img
						class="popular-goods__item-img"
						src="img/SWH1-2_1.jpg"
						alt="SimpleClean. Стирально-отжимная машина"
					/>
				</div>
        <div class="popular-goods__item-right">
          <h3 class="popular-goods__item-title">
           
          </h3>
          <p class="popular-goods__item-factory">
					
					</p>
          <p class="popular-goods__item-linkmore">
					
					</p>
        </div>
      </div>
    </div>
  </div>
</div>
